@import '../variables';

.GameField {
  position: relative;
  width: 100%;
  height: 100%;
  background: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  transition: all 0.2s linear;
  overflow: hidden;
  &--orange {
    background: $orange;
  }
  &--pink {
    background: $pink;
  }
  &--green {
    background: $green;
  }
  &--purple {
    background: $purple;
  }
  &--blue {
    background: $blue;
  }

  svg {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 24%;
    transform: translate(-50%, -7px);
    z-index: 1;
    width: 96px;
    height: 103px;
    fill: #fff;
  }

  &__startText {
    margin-top: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    user-select: none;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 102px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 1.5em 1.2em;
    border-radius: 3px;
    color: #fff;
    -webkit-box-shadow: 0 7px 35px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 7px 35px 0 rgba(0, 0, 0, 0.3);
    width: 485px;
    user-select: none;

    div {
      font-size: 1.15em;
      font-weight: 600;
    }

    span {
      font-weight: 600;
      font-size: 3.15em;
      color: #fff;
    }
  }

  &__wrapperGrid {
    display: grid;
    margin: 0 auto;
    width: 485px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
  }

  &__item {
    cursor: pointer;
    width: 100%;
    text-align: center;
    line-height: 80px;
    font-weight: 600;
    font-size: 40px;
    user-select: none;

    span {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 80px;
      font-weight: 600;
      font-size: 40px;
      color: #fff;
    }

    &:hover {
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    }

    &--orange {
      background: $orange;
    }
    &--pink {
      background: $pink;
    }
    &--green {
      background: $green;
    }
    &--purple {
      background: $purple;
    }
    &--blue {
      background: $blue;
    }
    &--disable {
      opacity: 0.5;
    }
  }

  &__loadingGame {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #1f495e;

    &__counter {
      width: 100px;
      height: 100px;
      user-select: none;
      line-height: 100px;
      text-align: center;
      font-size: 48px;
      font-weight: 900;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  &__gameMenu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 32px;
    width: 445px;
    padding: 0 16px;
    background-color: hsla(0, 0%, 100%, 0.4);
    color: #333;
    -webkit-animation: gameMenuEnter 0.5s;
    animation: gameMenuEnter 0.5s;
    z-index: 1;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item-text {
      font-size: 7px;
      font-weight: 600;
    }
    &__item-time {
      font-weight: 900;
      font-size: 12px;
    }
  }
}

.cross {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  top: 48%;
  left: 43%;
  width: 90px;
  transition: all 0.5 ease;
}
.mark {
  position: absolute;
  visibility: hidden;
  z-index: 1;
  top: 48%;
  left: 43%;
  width: 90px;
  height: 90px;
}
.cross-active {
  visibility: visible;
  animation: rotate 0.4s ease-in infinite alternate;
}
.mark-active {
  visibility: visible;
  animation: scaleMark 0.4s ease-in infinite alternate;
}

@keyframes scaleMark {
  100% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
}

.mediumField {
  display: grid;
  margin: 0 auto;
  width: 485px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}

.bigField {
  display: grid;
  margin: 0 auto;
  width: 485px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}

.veryBigField {
  display: grid;
  margin: 0 auto;
  width: 485px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}

.itemMediumField {
  line-height: 60px;
  font-size: 30px;
  span {
    line-height: 60px;
    font-size: 30px;
  }
}

.itemBigField {
  line-height: 50px;
  font-size: 24px;
  span {
    line-height: 50px;
    font-size: 24px;
  }
}
.itemVeryBigField {
  line-height: 40px;
  font-size: 18px;
  span {
    line-height: 40px;
    font-size: 18px;
  }
}

.rotate {
  animation: rotate 0.6s linear infinite;
  animation-delay: 0s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.scale {
  animation: scale 0.4s ease-in infinite alternate;
  animation-delay: 0s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.blink {
  animation: blink 0.4s ease-in infinite alternate;
  animation-delay: 0s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.leave {
  animation: leave 0.3s ease-in;
}
.come {
  animation: come 0.3s ease-in;
}

@keyframes rotate {
  25% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@keyframes scale {
  100% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
}

@keyframes gameMenuEnter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150%);
    transform: translateY(-150%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes leave {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  80% {
    -webkit-transform: translateX(-700%);
    transform: translateX(-700%);
  }
}
@keyframes come {
  0% {
    -webkit-transform: translateX(+700%);
    transform: translateX(+700%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
