$background: rgb(77, 184, 236);
$black: #000;
$orange: rgb(242, 142, 55);
$pink: rgb(252, 115, 176);
$purple: rgb(142, 61, 203);
$green: rgb(148, 201, 77);
$blue: rgb(77, 184, 236);
$border: rgb(77, 184, 236);
